*{
    margin: 0;
    padding: 0;

}

body{
    margin: 0%;
    padding: 0%;
    font-size: 62.5%;

}
#home{
   margin-bottom: 0rem;
}
.brand-image
{
    width: 4rem;
    height: auto;
    border-radius: 80%;
}
ul{
    text-align: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}


    /* mainpage */
.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    height: auto;
}

.main h1{
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 5.2rem;
    background: linear-gradient(180deg, #02AABD , #ED1E79 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main .first{
    margin: auto;
    padding-left: 4rem;
}
.btns{
   
   min-width: auto;
    height: 3.5rem;
    padding: 0 3em;
    margin: 1rem 1rem 1rem 2rem;
    border: 2px solid black;
    color: white;
    /* background-color: #092635; */
    background-image: linear-gradient(90deg, #ae0ee9 0%, #2e19a7 100%);
   font-size: 1.3rem; 
   font-weight: 600;
   border-radius: 7%;
}
.second img{
    width: 50rem;
    margin-top: 5rem;
    padding: 1rem;
    height: auto;
}



/* PopUPBOX */

/* Add your website styles above this */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    backdrop-filter: blur(20px); 
}

.popup-content {
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.popimage img{
    width: 10rem;
    height: auto;
}


.popcontent .btn{

    outline: none;
    border: none;
    border-radius: 5rem;
    background: #6C5CE7;
    color: #fff;
    cursor: pointer;
    height: 3.5rem;
    width: 17rem;
    font-size: 1.7rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.3);

}


    /* progressShow */

#progrss{
    margin: auto;
}
.container{
    display: flex;
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.grid{
    display: grid;
}
.grid-four-cols{
    grid-template-columns: repeat(4,1fr);
}
.box{
    width: 15rem;
    height: 7rem;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 0.5rem;
    margin: auto;
}
.box h1{
        text-align: center;
        font-weight: 600;
}
.box p{
    text-align: center;
    font-weight: 500;
}






/* ResponsiveDesign */


@media (max-width: 600px) {
    .main { grid-template-columns: repeat(1, 1fr); 
        gap: 1rem;
       margin: 4rem 4rem 0 4rem;
    }

    .main h1{
        font-weight: 300;
        font-size: 1.9rem;
        line-height: 2.2rem;
        background: linear-gradient(180deg, #02AABD , #ED1E79 100%);
        background: linear-gradient(180deg, #02AABD , #ED1E79 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }

    .main .first{
        margin: auto;
        padding-left: 2rem;
    }

    .first .btns{
        min-width: auto;
        height: 2.5rem;
        padding: 0 3em;
        border: 2px solid black;
        color: white;
        background-image: linear-gradient(90deg, #ae0ee9 0%, #2e19a7 100%);
       font-size: 1rem; 
       font-weight: 400;
       border-radius: 7%;
    }

    .second img{
        width: 50rem;
        margin-top: 2rem;
        padding: 1rem;
        height: auto;
    }
    #home{
        margin: 0%;
     }
    #progrss{
       margin: 0%;
    }
.container{
    display: flex;
    max-width: 300px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.grid{
    display: grid;
}
.grid-four-cols{
    grid-template-columns: repeat(2,1fr);
}
.box{
    width: 7.5rem;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 0.5rem;
    margin: 0.5rem;
}
.box h1{
        text-align: center;
        font-weight: 500;
        font-size: 1rem;
}
.box p{
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;
}


  }